.about-us {
    background:linear-gradient(to bottom, #e0fbfc,#f2f5f7,#e0fbfc);
    color: black;
    padding: 0;
    margin: 0;
    height: 100vh;
}
.typed-cursor {
  color: #775907;
}
.circle.top {
    top: 0;
    left: 48%;
    transform: translateX(-50%);
}
/* .circle.top:hover {
  background-color: blue;
  height: 100vh;
  width: 100%;
} */

.circle.left {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.circle.right {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.circle.bottom {
    bottom: 0;
    left: 51.7%;
    transform: translateX(-50%);
}
.circle {
    padding: 50px;
    position: absolute;
    text-align: center;
    cursor: pointer;
    background: transparent;
    border: none;
}
.circle .circle-inner{
    width: 28px;
    height: 28px;
    border: 3.5px solid #121212;
    border-radius: 50%;
    z-index: 5;
}
.circle-inner:hover {
  background-color: #ffbe0b;
}
.title-cover {
    font-size: 45px;
    position: absolute;
    top: 50%;
    left: 53%;
    text-transform: capitalize !important;
    transform: translate(-50%,-53%);
    font-family: 'Prata', serif;
}

  
 #hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    margin-left: 20px;
    margin-top: -4px;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 6px 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    animation: log infinite 2s ease ;
  }
  /* @keyframes log {
    from {background-color: #151515;}
    to {background-color: #252525;color: #ffbe0b;}
  } */
    
  #hovertext:hover:before {
    opacity: 1;
    visibility: visible;
  }
 #hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    margin-left: 20px;
    margin-top: -8px;
    width: 120px;
    background-color: transparent;
    border: 2px solid #121212;
    color: #121212;
    text-align: center;
    border-radius: 5px;
    padding: 6px 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 18px;
  }
  
  #hovertext:hover:before {
    opacity: 1;
    visibility: visible;
  }

  #hovertext-right:hover:before {
    opacity: 1;
    visibility: visible;
    width: 80px;
    background-color: transparent;
    border: 2px solid #121212;
    color: #121212;
    text-align: center;
    border-radius: 5px;
    padding: 6px 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 18px;
    animation: log infinite 2s ease ;
  }
  /* @keyframes log {
    from {background-color: #151515;}
    to {background-color: #252525;color: #ffbe0b;}
  } */

 #hovertext-right:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    margin-left: -138px;
    margin-top: -4px;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 6px 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
  }
  
  #hovertext-top:hover:before {
    opacity: 1;
    visibility: visible;
    width: 80px;
    background-color: transparent;
    border: 2px solid #121212;
    color: #121212;
    text-align: center;
    border-radius: 5px;
    padding: 6px 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 18px;
  }
 #hovertext-top:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    margin-left: -90px;
    margin-top: -4px;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 6px 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    animation: log infinite 2s ease ;
  }
  /* @keyframes log {
      from {background-color: #151515;}
      to {background-color: #252525;color: #ffbe0b;}
    } */

  #hovertext-top {
    width: 100px;
  }
  @media (max-width:600px) {
    .title-cover {
      font-size: 25px;
      text-align: center;
    }
  }