.contact-div {
  display: grid;
  grid-template-columns: repeat(2,50%);
}
.left-side-contact {
    height: 86.5vh;
    margin-top: 13.5vh;
    width: 100%;
    position: fixed;
    top: 0;
    overflow-x: hidden;
 }
 .left-side-contact {
    left: 0;
    background-color: #042b41;
    align-items: center;
    
 }
 .left-side-contact img {
     height:87.5vh;
     width: 100vw;
     object-fit: cover;
 }
 /* .right-side-contact {
    right: 0;
    background-color: #cdd9b4;
    text-align: center;
    border-top-left-radius: 50px;
    animation: log infinite 3s ease ;
} */

/* @keyframes log {
    from {background-color: #252525;color: black;}
    to {background-color: #151515;}
  } */
 .right-side-contact h1 {
     margin: 5vh;
     font-size: 45px;
     color: #72828b;
     z-index: 5;
     text-align: center;

 }
  /*.right-side-contact a {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #f7fff7;
    font-size: 2.5vw;
    width: auto;
    text-align: left;
 } */

.contact-form {
    width: 100%;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    place-items: center;
    padding: 1rem;
  }
  .contact-form div {
    height: 100%;
    background-color: #094263;
    margin-top: 2rem;
    border:1px solid #0a9396;
    max-width: 100%;
    width: 24%;
    padding: 30px 20px;
  }
  .contact-form div input, textarea, button {
    background-color: #252525;
    color: #D1D9E6;
  }
  .contact-form div label {
      text-align: left;
  }
  .contact-form div input[type=text],
  .contact-form div input[type=email],
  .contact-form div button,
  textarea {
    padding: 0.4rem 1.5rem;
    border-radius: 5px;
    color: #faa307;
    outline: none;
    background-color: transparent;
    border: none;
    font-family: sans-serif;
    margin-top: 0.5rem;
    border:1px solid #0a9396;
    vertical-align: middle;
  }
  textarea {
    width: 204.5px;
    padding-top: 15px;
  }
  .contact-form div button:hover {
   background-color: #1b6cfb; 
   color: #E6FDFB;
  }
  .contact-form div button {
    margin-top: 1.5rem;
    padding: 0.6rem 2rem;
    color: gray;
    border: 1px solid #0a9396;
  }
 .biArrow {
    position: absolute;
    left:4%;
    top: 7%;
}
.biArrow:hover {
    color: #0a9396 !important;
    transition: 200ms ease-in;
}


  @media (max-width:600px) {
    .contact-div {
      display: grid;
      grid-template-rows: repeat(2,100%);
    }
    .contact-form {
      padding: 0.5rem;
    } 
    .contact-form div {
      padding: 10px;
      width: 70%;
      margin-top: 10%;
      margin-left: auto;
      margin-right: auto;
      border-radius: 10px;
    }
    .contact-form div button {
      margin-top: 1.5rem;
      padding: 0.45rem 2rem;
  
    }
   
    .contact-form div input[type=text],
    .contact-form div input[type=email],
    .contact-form div button,
    textarea {
      padding: .4rem 1.2rem;
      max-width: 70%;
      margin-left: auto;
      margin-right: auto;
  }
  .right-side-contact h1 {
    margin: 10vh;
    font-size: 3.5vw;
    color: #72828b;
    z-index: 99;
    margin-top: 10%;
}
}
@media (min-width:601px) and (max-width:1200px) {
  .contact-form div {
    max-width: 60%;
    width: 300px;
    padding: 30px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
  }
  .contact-form div button {
    margin-top: 1.5rem;
    padding: 0.45rem 2rem;

  }
  .contact-form div input[type=text],
  .contact-form div input[type=email],
  .contact-form div button,
  textarea {
    padding: .4rem 1.2rem;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
} 
}