
.images-wrap {
    margin-top: 60px;
    background-color: #252525;
    overflow: hidden;
}
.wrapper h1 {
    text-align: center;
    margin-top: 20px;
}
.wrapper .hr {
    width: 100%;
    border: 0.5px solid rgb(71, 71, 71);
}
.each-slide {
display: flex;
justify-content: center;
align-items: center;
}
.div-card h2 {
    margin-bottom: 10px;
    text-align: center;
}
.div-card h4 {
    margin-bottom: 10px;
    font-size: large;
    text-align: center;

}
.div-card p {
    text-align: center;
}
img {
    object-fit: cover;
}

.arrow {
    margin-top: 51px;
    margin-left: 5px;
}
.arrow:hover {
    color: #ffd900 !important;
    transition: 200ms ease-in;
}
@media (max-width:600px) {
    img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px; 
    margin-left: 16%;
    }
    .div-card h4 {
        margin-bottom: 20px;
        text-align: center;
    }
    .div-card p {
        text-align: center;
    }
}

