.form-wrapper {
  background-color: #252525;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%230c0c0c' fill-opacity='0.19' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.div-input {
    width: 350px;
    position: relative;
    margin-top: 28vh;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter:blur(15px);
    padding: 45px;
    padding-left:63px; 
    background-color:#151515 ;
    opacity: 0.92;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    caret-color: #00B700;
    animation: log infinite 3s ease ;
  }
  /* @keyframes log {
      from {background-color: #303030;color: black;}
      to {background-color: #151515;}
    } */
  .div-input:hover {
    background-color: #131313;
  }
  div > .input,
  div > .inputButton {
    display:flex;
    margin-top: 15px;
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    color: #E1E1C2;
    letter-spacing: 1px;
    background-color: #303030;
    border: 0.5px dotted #454545;
    font-size: 15px;
    font-family: 'Sen', sans-serif;
  }
  .inputButton {
    color: #e0d7e0;
    letter-spacing: 1px;
  }
  .login {
    padding:10px;
    font-family: 'Sen', sans-serif;
    margin-right:5px;
    font-size:28px;
    padding: 7px 25px;
    -moz-box-shadow: -1px 1px 5px #e0d7e0;
    -webkit-box-shadow: -1px 1px 5px #e0d7e0;
    box-shadow: -1px 1px 5px #e0d7e0;
  }
  .register {
    padding:10px;
    font-family:sans-serif;
    font-size:28px;
    padding: 7px 25px;
    -moz-box-shadow: -1px 1px 5px #e0d7e0;
    -webkit-box-shadow: -1px 1px 5px #e0d7e0;
     box-shadow: -1px 1px 5px #e0d7e0;
  }
  .inputButton:hover {
    background-color: #2a8f2a;
  }
  .btn-login {
    padding: 8px 20px;
    margin-top: 15px;
    margin-left: 2px;
    border-radius: 4px;
    outline: none;
    border: 0.5px dotted #454545;
    background-color: #202020;
    color: #7c7a7a;
    font-weight: 600;
    font-family: 'Sen', sans-serif;
    text-transform: uppercase;
  }
  .btn-login:hover {
    background-color: #E1E1C2;
    cursor: pointer;
    color: #151515;
  }
  .not-registered {
    position: absolute;
    left: 45%;
    top: 80%;
    border-radius: 4px;
    letter-spacing: 1px;
    text-decoration: none;
    color: rgb(131, 128, 128);
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 17px;
    /* background-color: rgb(47, 137, 255);
    padding: 6px 20px; */
  }
  .not-registered:hover {
    color: #E1E1C2;
  }
  .loggedin {
    padding: 7px 13px;
    position: absolute;
    top: 1%;
    font-size: 15px;
    right: 7%;
    height: 35.6px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #323232;
  }
  span {
    margin-right: 7px;
    color: #16171C;
    font-weight: 600;
    font-family: 'Sen';
    letter-spacing: 0.5px;

  }
  .logout {
    padding: 5px 13px;
    background-color: gray;
    border-radius: 5px;
    color: #16171C;
    border: none;
    height: 35px;
    outline: none;
    margin-top: 1px;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    top: 0.9%;
    right: 1.5%;
    letter-spacing: 1px;
    font-family: 'Sen';
  }
  .logout:hover {
    background-color: #b70037;
    color: #E1E1C2;
  }
  @media (max-width:600px) {
    .logout {
      position: absolute;
      top: 0.9%;
      right: 2.5%;
      font-size: 0.8rem;
    }
    .loggedin {
      position: absolute;
      left: 2.5%;
      font-size: 0.8rem;
      width: 120px;
      padding: 7px;
      text-align: center;
    }
    .div-input {
      width: 300px;
      padding-left:50px;
    }
    div > .input,
  div > .inputButton {
    padding: 8px 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .not-registered {
    position: absolute;
    left: 45%;
    top: 84%;
  }
  }
  @media (min-width:601px) and (max-width:1200px) {
    .loggedin {
      position: absolute;
      right: 99px;
      font-size: 0.8rem;
      width: 120px;
      padding: 7px;
      text-align: center;
    }
  }