.work {
    background:linear-gradient(to bottom, #121214,#141414,#121214);
    height: 100vh;
}
.work a {
    color: black;
    text-decoration: none;
}
.work svg {
    margin-top: 25px;
    margin-left: 5px;
}
.work svg:hover {
    color: gray !important;
    transition: 200ms ease-in;
}
.logout ,
.loggedin h2,
.loggedin span{
    color: white;
}
.right-side {
    height: 87.5vh;
    margin-top: 12.5vh;
    width: 100%;
    position: fixed;
    top: 8px;
    overflow-x: hidden;
    background-color: #121216;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,50%);
 }
 .right-side h1 {
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 35px;
 }
 .right-side a {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #f7fff7;
    font-size: 25px;
    width: auto;
    text-align: left;
 }
 .right-side a::before {
    content: "|";
    border-color: black;
    border-style: solid;
    margin-right: 3px;
    color: #FFBA10;
 }
 .right-side a:hover {
     transition: 300ms ease;
     transform: translate(-5%);
     color: #FFBA10;
 }
 @media (max-width:600px) {
     .right-side {
        display: grid;
        grid-template-columns: repeat(1,100%);  
        overflow-y: visible;
     }
     .right-side h1 {
         margin: 5px;
         font-size: 25px;
     }
     .right-side a {
        font-size: 15px;
        margin: 0;
     }
     .work svg {
        margin-top: 45px;
        margin-left: 5px;
    }
 }
